

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');



a, a:hover, a:focus, a:active{
text-decoration: none;
color: #000;
}

.blueLink:hover{
	color:  #167ac6;
}

.tableCol{
	display: table-cell;
	vertical-align: bottom;
}

.btn{
width:100%
}
 
body{
margin:0;
padding:0;
font-family: 'Noto Sans', sans-serif;
background-color: #eee	;
}


.modal-open .container-fluid, .modal-open .navbar {
    filter: blur(5px);
}

.modal-header{
	display: block;
}

.modal-backdrop{
opacity: .85 !important
 } 

.fade.in{
	opacity: 1;
}


.feedbackModal .btn-primary{
	margin-top: 15px;
}

.feedbackModal .modal-body{
	min-height: 174px;
}

.feedbackModal .postSubmitContent{
text-align: center;
font-size: 26px;
margin-top: 30px;
font-weight: bold;
}

.closeButton{
float: right;
font-size: 1.2rem;
font-weight: 700;
line-height: 1;
color: #000;
opacity: .5;
font-family: sans-serif;
}

.closeButton:hover{
	opacity: 1;
}


.menuOptions li{
list-style: none;
cursor: pointer;
}

ul.menuOptions{
margin-top:30px;
clear: both;
text-align: center;
line-height: 3;
}



.menuHighlite{
background-color: #FFBC6B;
border-radius: 20px;
color: white;
margin: 0px 30px;
}

.nav-link{
	cursor: pointer;
	color: #000 !important;
	opacity: .7
}

.nav-link:hover{
	opacity: 1;
}

.navbar{
border-bottom: 1px solid #ccc;
padding: .3rem 1rem;
background-color: #fff;
position: fixed;
top: 0;
width: 100%;
height: 52px;
z-index: 999;
box-shadow: 0px 0px 5px -2px #000;

}

.navbar-brand img{
	height: 35px;
}


.navFeedback{
	background-color: #FFBC6B;
	position: absolute;
	top: 0;
	margin-left: 25vw;
	height: 52px;
	padding: 14px;
	color: #fff;
	font-size: 17px;
	width: 110px;
	text-align: center;
	display: block;
	opacity: 0;
	transition: opacity 1.5s;
	cursor: pointer;
}
@media only screen and (min-width:430px){
	.navFeedback{
	margin-left: 33vw;
	}
}

.navFeedback:hover{
	color: #eee;
}

.navFeedback.visible	{
opacity: 1;
}

.uploadButton{
	position: absolute;
	right: 85px;
	top: 14px;
}

.navbar-toggler{
border: none;
}

.search{
width: 300px;
}

.uploadIcon{
height: 18px;
margin-top: -1px;
margin-right: -1px;

}
@media only screen and (min-width:760px){
	.navbar{
		padding-left: 50px;
		padding-right: 50px;
		border: none;
		box-shadow: 0px 0px 5px 0px #000;
		position:relative; 
	}
	.navbar-toggler-right{
		right: 50px;
	}

	.uploadButton{
	right: 8rem;
	}
}



.mainContent{
margin: 0px 5% 40px;
padding-bottom: 40px;
max-width:1450px;
background-color: #fff;
box-shadow: 0 0 8px -2px #000;

}



@media only screen and (max-width:760px){
	.mainContent{
	margin: 52px 0px 0px;
	padding: 0px 10px;
	box-shadow: none;
	}
}


/***************
****Login Page ***
***************/

.signinLogo{ 
height: 35px;
float: left;
margin-right: 150px;

}
.signinModal input{
margin: 0 auto 10px;
display: block;
padding: 0 5px;
width: 100%;
}

.signinModal .otherOptions{
	text-align: center;
	font-size: 12px;
	margin: 15px 0;

}

.signinModal .otherOptions button{
	border: none;
	background-color: unset;
	font-size: 15px;
}

.signinModal .otherOptions button:hover{
	text-decoration: underline;
}

.forgotPassword{
	color: rgb(255,32,12)
}

.signUp{
	color: #0275f8;
}

.signinModal .btn-primary{
	margin-top: 20px;
}
/***************
**** Home PAGE ***
***************/
.heroSlider{
width: 100%;
}





.topvideos{
background-color: #000;
}

.heroSlide{
height:400px;
background-image:url(img/hero1.jpg);
background-repeat:no-repeat;
background-position:50%;
}

.heroSlide .contentWrapper{
	background-color: rgba(0,0,0,.5);
	height: 100%;
	display: block;
}

.heroTitle{
font-family: 'Anton', sans-serif;
margin-left: 0px;
color:#fff;
text-transform: uppercase;
font-size: 20px;
}

.toptitle{
font-size: 40px;
color: #dbd5d0;
padding-top: 60px;
}

.ofthisweek{
font-size: 27px;
color: #dbd5d0;
margin-top: -12px;
}

.chall{
font-size: 33px;
background-color: rgba(248, 71, 46, .7);
display: inline;
padding: 0 15px;
margin-left: -15px;
}

@media only screen and (min-width: 500px){


	.toptitle{
	padding-top: 20px;
	font-size: 60px;
	}

	.ofthisweek{
		font-size: 50px;
		margin-top: -30px;

	}

	.chall{
		font-size: 50px;
	}
}


.heroLinks{
position: absolute;
width: 100%;
bottom: 0px;
color: #f5f5f5;
font-size: 15px; 
text-shadow: 1px 1px 3px #000;
text-align: center;

}


.heroLinks li{
	display: inline;
}

.heroLinks li a{
color:#f5f5f5;
background-color:transparent;
border:none;
padding: .2rem;
width: unset;
text-shadow: 1px 1px 3px #000;
cursor: pointer;
}
@media only screen and (min-width: 600px){
	.heroLinks{
	font-size: 20px;
	}
}

.heroLinks li a:hover{
color:#aaa;
}

.slick-dots{
	bottom: -20px;
}
.slick-dots li button::before{
	font-size: 12px;
	color: #ccc;
}

.slick-dots li.slick-active button::before{
	color: rgb(248, 71, 46)
}



.viewMore{
float:right
}

.videoSectionWrapper{
padding-top:15px;
padding-bottom:20px;
}

.celltitle{
font-family:Arial,Helvetica,sans-serif;
font-size:25px;
float:left
}

.bestBtn{
font-size:12px;
width:40px;
height:20px;
padding:0;
float:right
}

.bestCount{
float:right;
font-family:Arial-Bold
}



.attempts{
color:#000;
padding: 0;
}

.attempts img{
display: inline;
}


.bottomSection{
padding-top:5px;
width:100%;
font-size: 12px;
font-family: 'Noto Sans', sans-serif;
margin: 0;
}



.profileText{
color: #000;
}

.videoSection{
margin: 0 15px;
padding: 0;
}

@media only screen and (min-width:760px){
	.videoSection{
	margin: 0 30px;
	padding: 0 30px;
	}

	.videoSectionTitle{
	padding-left: 80px;
	color: #555;
	}
}



.videoCon .videoTitle{
font-size:17px;
font-weight: bold;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
@media only screen and (min-width:551px) and (max-width: 900px){
	.videoCon .videoTitle{
	font-size:13px;
	}

}

.videoCon .videoThumb{
height: 200px; 
width: 100%;
object-fit: cover;
margin: 0 auto;
}

@media only screen and (min-width:551px){
.videoCon .videoThumb{
width: 85%;
height: 120px; 
}
}

@media only screen and (min-width:760px){
	.videoCon .videoThumb{
	height: 140px; 
	margin: unset;
	}
}

.videoCon{
border-bottom: 1px solid #ccc;
margin-bottom: 15px;
padding: 0 15px 15px;
margin-left: -15px;
margin-right: -15px;

}

@media only screen and (min-width:550px){
.videoCon{
	border: none;
	padding: 0;
	margin: 0;
	}
}

.vidRow-prev, .vidRow-next{ 
top: 40%;
z-index: 100;
position: absolute;
top: 30%;
display: block;
padding: 0;
cursor: pointer;
color:#000;
opacity: .6;
font-size: 27px;
z-index: 100;
text-align: center;
}

@media only screen and (min-width: 760px){

.vidRow-prev, .vidRow-next{ 
font-size: 35px;
}
}
.vidRow-prev{
left: -15px;
}


.vidRow-next{
	right: -15px;
}


.videoPlayer{
background-color:#000;
margin: 25px auto 0px;
padding: 0;
max-width: 800px;
}

.playerPage .videoInfo{
	padding-top: 10px;
}

.playerPage .videoTitle{
font-size:20px;
font-weight: bold;
}


.videoPlayer video{
width: 100%;
max-height: 500px;
display: block;
max-height: 350px;
}


.comment{
width:100%;
padding-left: 15px;
resize: none;
}

.postedComment{
font-size: 14px;
color: #999;
}

.postedComment .user{
font-weight: bold;
color: #000;
font-size: 13px;
margin-bottom: 5px;
}

.commentButtonWrapper{
padding: 0px 15px;
margin-top:10px;
}

.commentbtn{
display:inline-block
}


.acceptChallengeBtn{
background-color: #2A263D;
border-color: #2A263D;
border-radius: 20px;
color: #fff;
}

	

	
.bestIcon{
text-align: center;
background-image: url('img/bestIcon.png');
background-repeat: no-repeat;
background-position: center 0px;
height: 60px;
cursor: pointer;
}

.bestIcon:hover{
	background-image: url('img/bestIconSelected.png');


}



.descripText,.title{
font-family:Arial,Helvetica,sans-serif
}

.descripText{
font-size:14px
}



.videoInfoUpper{
font-family: 'Noto Sans', sans-serif;
max-width: 800px;
margin: 0 auto;
}


.videoInfoTable{
margin: -33px 15px 10px;
font-size:10px;
width: 100%;
}
@media only screen and (min-width: 650px){
	.videoInfoTable{
	font-size:12px;
	}
}

.videoInfoUpper td{
width: 1px;
text-align: center;
padding: 0;
}

.videoInfoUpper td:first-of-type{
text-align:left;
}

.videoInfoLower{
border-top: 1px solid #ccc; 
padding: 20px;
}
.challengeName{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;

}
.infoLowerLeft{
	padding-bottom: 15px;
}

.infoLowerLeft a:hover{
	color:  #167ac6;

}


.contentSelect .btn{
	border-radius: 0;
}
 
.contentSelect .btn-primary:hover{
background-color: #0275d8;
border-color: #0275d8;
}


.recVideoRow{
	padding: 15px;
	line-height: 28px;
}

@media only screen and (max-width:400px){
	.recVideoRow{
	padding: 15px 0px;
	font-size: 13px;
	line-height: 17px;
	}
}

.recVideoRow .videoThumb{
width: 100%;
max-width: 200px;
}

.thumbInfo{
	padding-top: 15px;
} 

.profilePic{
border-radius: 50%;
height: 60px;
width: 60px;
display: inline;
}

.profilePic.sm{
height: 40px;
width: 40px;
}

.commentsSection{
padding-top: 20px;
}

.commentBtn{
background-color: #FFBC6B;
color: #fff;
}

.commentWrapper{
padding:10px;
border-bottom: 1px solid #ccc;
}

.descriptionSection{
color: #777;
padding: 30px;
border-bottom: 1px solid #ccc;
font-size: 16px;
}

.descriptionSection .postDate{
	color: #000;
	text-align:right;
	margin-right: 30px;

}



/*****************
**CHALLENGE PAGE **
******************/
.challengePage .topSection{
	margin: 0 auto;
	max-width: 850px;

}
.challengePage .videoInfoUpper{
	margin-top:40px;
}

.challengePage .challenegeTitle{
	font-size: 20px;
	padding: 20px 0px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin: 0px 40px;
	font-weight: bold;
}

.videoSelectBtns{
	padding: 15px 30px 0px;
}

.videoSelectBtns .btn{
	border: none;
	color: #aaa;
	font-size: 20px;
}

.videoSelectBtns .btn:hover{
	background-color: unset;
	color: #000;
}

.videoSelectBtns .btn.active{
	color: #000;
	background-color: unset;
	font-weight:bold;
}

.optionButtons{
	padding: 20px 0;
	border-top: 1px solid #ccc;
}
.challengeOptionBtn{
margin: 4px auto;
border-radius: 20px;
background-color: #FFBC6B;
color: white;
font-size: 15px;
width: 140px;
}

@media only screen and (min-width:500px){
	.challengeOptionBtn{
	width: 200px;
	font-size: 15px
	}
}

.challengeOptionBtn:hover{
	background-color: #D9831A;
}

.challengeInfoTop{
	border-bottom: 1px solid #ccc;
}

.challengeInfoBottom{
	border-bottom: 1px solid #ccc;
margin-bottom: 30px;
padding: 15px 30px;
border-bottom: 1px solid #ccc;
}

.challengeInfoBtn{
	color: #888
}


.downArrow{
	margin: -12px  auto -4px;
	color: #888;
	width: 30px;
	text-align: center;
}

.challengeInfoBtn{
	background-color: unset;
}

.challengePage .viewMore{
	display: none;
}

/**************
***ProfilePage ***
***************/

.profileBannerWrapper{
	margin: 0px 15px;
}

@media only screen and (max-width: 760px){
	.profileBannerWrapper{
	margin: 0px -10px;
	}
}

.bannerImage{
	position: relative;
	width: 100%;
	height: 40vh;
	object-fit: cover;
	max-height: 300px;
}

.profilePictureWrapper{
	position:relative;
	top:-50px;
	text-align: center;
	margin-bottom: -20px;
}
.profilePictureWrapper .profilePic{
	height: 90px;
	width: 90px;
	margin: 0 auto;
	border: 7px solid #fff;
	object-fit: cover;
	box-shadow: 1px 1px 10px -5px #000;
}

@media only screen and (min-width: 760px){
	.profilePictureWrapper .profilePic{
	height: 150px;
	width: 150px;
	}
	.profilePictureWrapper{
	top: -80px;	
	}
}


.profilePictureWrapper .profileName{
margin: 7px auto;
font-size: 22px;
}

.profileSettings{
position: relative;
top: -11px;
color: #888;
display: inline;
font-size: 20px;
}

.profileSettings .fa:hover{
	color:  #167ac6;
}

.contentSelectTop{
	border-bottom: 1px solid #ccc;
}

.contentSelectTop .selectWrapper{
	min-width: 300px;
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.contentSelectTop .fa{
	display: inline-block;
}

.contentSelect {
	color: #888;
	cursor: pointer;
}

.contentSelect:hover{
	color: #167ac6;
}
.contentSelect.active{
	color: #000;
}

.profilePage .videoSectionTitle{
	display: none;
}

.profileContentSlider{
	margin-bottom: 60px;
}


/***************
****Footer****
*************/
.footer{
margin: 0;
width: 100%;
background-color: #2A263D;
color: #95989A;
padding: 20px 0px 30px;
font-size: 1em;
font-family: 'Noto Sans', sans-serif;
box-shadow: 0 0px 7px 1px #000;
}

.footerBottom{
margin: 0;
width: 100%;
background-color: #201C2F;
padding: 16px 0px;
}

.footerItems li{
list-style: none;
line-height: 2.2em;
}

ul.footerItems{
margin: 0;
padding: 0;
}

.footerLogo{
width: 50px;
height: auto;
margin: 0;
padding: 0;
}

.footerItems .fa{
color: #fff;
font-size: 30px;
padding: 7px 7px;
}

.footerItems .fa:hover{
	text-decoration: none;
	color: grey;
}

.footerItems .fa:first-of-type{
padding-left: 0;
}

@media only screen and (max-width:650px){
	.footerItems .fa{
	font-size: 20px;
	padding: 4px 4px;
	}
	
	.footerLogo{
	width: 30px;
	height: auto;
	margin: 0;
	padding: 0;
	}
	.footerBottom{
	padding: 10px 0px;
	}
	.footer{
	font-size: .8em;
	padding-top: 20px;
	padding-bottom: 30px;
	box-shadow: none;
	}
}




/*# sourceMappingURL=main.59d84469.css.map*/